@import "tailwindcss";

:root {
  --background: #FFFFFF; /* 白背景 */
  --foreground: #171717; /* メインテキスト色 */
  --primary: #F06060; /* キーカラー */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-noto-sans-jp); /* デフォルトのsans-serifをNoto Sans JPに変更 */
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-geist-sans); /* 見出し用フォントとしてGeistを別途定義 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}